{% extends 'layout.html' %}
{% block title %}{{ course.name }}{% endblock title %}

{% block main %}

<div class="section">
	<h1>{{ course.name }}</h1>

	{% if g.user.is_part_of(course) %}
	<div class="section">
		<h2>Upcoming Assignments</h2>
		<ul>
			{% for assignment in course.get_upcoming_assignments() %}
			<li><a href="{{ url_for('view_assignment', assignment_id=assignment.id) }}">{{ assignment.name }}</a></li>
			{% endfor %}
		</ul>
	</div>

	{% if g.user.is_instructor_for(course) %}
	<div class="section">
		<h2>Update Course Info</h2>
		<form action="{{ url_for('edit_course', course_id=course.id) }}" method="POST" enctype="multipart/form-data">
			<label>Name: <input type="text" name="name"  value="{{ course.name }}"></label>
			<label>Syllabus: <input type="file" name="syllabus"></label>
			<input type="submit">
		</form>
	</div>

	<div class="section">
		<h2>Manage Students</h2>
		<h3>Students</h3>
		{% for student in course.students.all() %}
		{{ student.username }}<br />
		{% endfor %}
		<h3>Add Usernames</h3>
		<form action="{{ url_for('course_add_students', course_id=course.id) }}" method="POST">
			<textarea name="usernames" id="" cols="30" rows="4"></textarea>
			<input type="submit">
		</form>
		<h3>Remove Usernames</h3>
		<form action="{{ url_for('course_remove_students', course_id=course.id) }}" method="POST">
			<textarea name="usernames" id="" cols="30" rows="4"></textarea>
			<input type="submit">
		</form>
		{% endif %}

	</div>
	{% else %}
	<div class="section">
		<p>You are not a part of this class. Please email your instructor to add you to the registry.</p>
	</div>
	{% endif %}

	{% if g.user.is_admin() %}
	<div class="section">
		<h2>Manage Instructors</h2>
		<h3>Instructors</h3>
		{% for instructor in course.instructors.all() %}
		{{ instructor.username }}<br />
		{% endfor %}
		<h3>Add Usernames</h3>
		<form action="{{ url_for('course_add_instructors', course_id=course.id) }}" method="POST">
			<textarea name="usernames" id="" cols="30" rows="4"></textarea>
			<input type="submit">
		</form>
		<h3>Remove Usernames</h3>
		<form action="{{ url_for('course_remove_instructors', course_id=course.id) }}" method="POST">
			<textarea name="usernames" id="" cols="30" rows="4"></textarea>
			<input type="submit">
		</form>
	</div>
	{% endif %}
</div>

{% endblock main %}